# URL Web App Google Apps Script setelah di-deploy (akses 'Anyone')
# Contoh: https://script.google.com/macros/s/AKfycbx.../exec
VITE_GAS_API_URL=

# Link default Grup WhatsApp (opsional, jika tidak diisi akan mengambil dari backend Config)
VITE_DEFAULT_WA_GROUP=https://chat.whatsapp.com/
